.wrapper1{
    display: flex;
}

.logo1 {
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.logo_img {
    width: 100px;
    justify-content: center;
}

.bbc_wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 7px 7px 7px;
}

.bbc_wrapper div {
    width: 26px;
    height: 25px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 20pt;
}

.wrapper2{
    display: flex;
}

.logo2 {
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.jpn_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.jpn_block {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 40px;
    height: 40px;
    background: #b3062c;
    border-radius: 50%;
}