.wrapper1{
    display: flex;
}

.logo1 {
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.logo_img {
    width: 100px;
}


.wrapper2{
    display: flex;
}

.logo2 {
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.jpn_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.jpn_block {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 40px;
    height: 40px;
    background: #b3062c;
    border-radius: 50%;
}